
.contact-form-box{
    width:50%;
  
    // height: 700px;
    margin:20px auto;
    border-radius: 10px;
   h1{
       text-align: center;
       padding:20px;
       color:white;
       text-decoration: underline;
   }

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type = "tel"],
.wpcf7 textarea,
.wpcf7 label,
.wpcf7 label

{
 
    font-size:30px;
    color:white;
    width: 100%;   
   

}
textarea{
    height: 200px;
    border: none;
    background-color:transparent;
    border-bottom: 2px solid white;

}
input{
    border: none;
    background-color:transparent;
    border-bottom: 2px solid white;
    color:white;
   
}
 

.button{
 
  margin-left: 300px;
    color:white;
    font-size: 30px;
    border: 1px solid white;
    padding:10px;
    
   
}

}
